<<<<<<< HEAD

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
=======
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
>>>>>>> a07d1494ecd537ddc38c5937f40e59f28ee0fb13

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
<<<<<<< HEAD
      <div id='content'>
        <%- include('partials/nav') %>
        <header>
        <div class="jumbotron text-center">
          <h1>social</h1>
          <p></p>
        </div>
      </header>
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Password</th>
              <th scope="col">encrypted_password</th>
              <th scope="col">url</th>


            </tr>
          </thead>
          <tbody id='passwordtable'>
          </tbody>
        </table>
      </div>
    </div>

    </body>
</html>


=======
        <div id='content'>
          <%- include('partials/nav') %>
            <div class="jumbotron text-center">
              <h1>Joes's business</h1>
              <p></p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">email</th>
                  <th scope="col">username</th>
                  <th scope="col">password</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

        </div>
    </div>

</html>
>>>>>>> a07d1494ecd537ddc38c5937f40e59f28ee0fb13
